node_modules/
.npm/

.turbo/
.next/
out/
dist/
build/
coverage/
*.tsbuildinfo

.env
.env.*
!.env.example

*.log
npm-debug.log*
debug.log*
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
